<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonedt.dao.NoticeMapper">

    <resultMap id="BaseResultMap" type="com.stonedt.entity.Notice">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,user_id,
        publish_time,status
    </sql>
    <insert id="addNotice">
        insert into notice(content,user_id,status,publish_time)
        values(#{content},#{user_id},#{status},now())
    </insert>
    <update id="softDeleteNotice">
        update notice set status = 0
        where id = #{id}
    </update>
    <update id="updateStatus">
        update notice set status = #{status}
        where id = #{id}
    </update>
    <select id="getNoticeList" resultType="com.stonedt.entity.Notice">
        select n.*,u.username from notice n
        left join user u on u.id = n.user_id
        order by n.id desc
    </select>
    <select id="getLastNotice" resultType="com.stonedt.entity.Notice">
        select * from notice
        where status = 1
        order by id desc
        limit 3
    </select>
</mapper>
